body {
  background-color: #2A2B2A;
  color: #DDB967; }
  body .app div,
  body .app button {
    background-color: #2A2B2A;
    color: #DDB967;
    border: 1px dotted #DDB967;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    text-align: center; }
  body .app div.highlight {
    border-color: #E8E9EB;
    color: #E8E9EB; }
  body .app button:focus {
    outline: none; }
  body .app button.toggled {
    border-color: #2274A5;
    color: #2274A5; }
  body .app .floor-bank {
    display: flex;
    flex-direction: column-reverse; }
  body .app .row {
    display: flex;
    flex-direction: row; }
