body {
  background-color: #2A2B2A;
  color: #DDB967; }
  body .app {
    max-width: 350px; }
    body .app .panel,
    body .app button {
      background-color: #2A2B2A;
      color: #DDB967;
      border: 1px dotted #DDB967;
      border-radius: 4px;
      padding: 4px;
      margin-bottom: 4px;
      margin-right: 4px;
      text-align: center;
      font-size: 11px; }
    body .app div {
      transition: 0.6s ease background-color, 0.6s ease color; }
      body .app div.highlight {
        background-color: #383536;
        color: #E8E9EB;
        transition: 0.6s ease background-color; }
        body .app div.highlight div.hidden {
          transition: 0.6s ease background-color, 0.6s ease color;
          color: #383536; }
      body .app div.hidden {
        color: #2A2B2A; }
      body .app div.highlight2 {
        color: #ED474A; }
    body .app button {
      transition: 0.6s ease color, 0.6s ease border-color; }
      body .app button:focus {
        outline: none; }
      body .app button:disabled {
        border-color: #636564;
        color: #636564; }
      body .app button.toggled {
        transition: none;
        border-color: #2274A5;
        color: #2274A5; }
    body .app .floor-bank {
      display: flex;
      flex-direction: column-reverse; }
    body .app .floor-display {
      align-items: flex-start;
      justify-content: flex-end; }
      body .app .floor-display > div {
        padding: 4px;
        margin-bottom: 4px;
        margin-right: 4px;
        min-width: 80px; }
    body .app .elevator-display {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      max-width: 85px;
      max-height: 225px;
      justify-content: flex-end; }
      body .app .elevator-display button {
        min-width: 30px; }
    body .app .top-bar {
      justify-content: space-between; }
    body .app .row {
      display: flex;
      flex-direction: row; }
