$shade1: #383536; // Background Highlight
$shade2: #E8E9EB; // Text
$shade3: #636564; // Lightest Dark
$shade4: #2A2B2A; // Background
$shade5: #ED474A; // Red
$shade6: #2274A5; // Blue
$shade7: #DDB967; // Yellow

body {

	background-color: $shade4;
	color: $shade7;

	.app {

		max-width: 350px;

		div,
		button {
			background-color: $shade4;
			color: $shade7;
			border: 1px dotted $shade7;
			border-radius: 4px;
			padding: 4px;
			margin-bottom: 4px;
			margin-right: 4px;
			text-align: center;
		}

		div {
			&.highlight {
				border-color: $shade2;
				color: $shade2;
			}

			&.highlight2 {
				border-color: $shade5;
				color: $shade5;
			}
		}

		button {
			&:focus {
				outline: none;
			}

			&.toggled {
				//background-color: $shade1;
				border-color: $shade6;
				color: $shade6;
			}
		}

		.floor-bank {
			display: flex;
			flex-direction: column-reverse;
		}

		.elevator-display {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap-reverse;
			max-width: 85px;
		}

		.row {
			display: flex;
			flex-direction: row;
		}
	}
}