$shade1: #383536; // Background Highlight
$shade2: #E8E9EB; // Text
$shade3: #636564; // Lightest Dark
$shade4: #2A2B2A; // Background
$shade5: #ED474A; // Red
$shade6: #2274A5; // Blue
$shade7: #DDB967; // Yellow

body {

	background-color: $shade4;
	color: $shade7;

	.app {
		max-width: 350px;

		.panel,
		button {
			background-color: $shade4;
			color: $shade7;
			border: 1px dotted $shade7;
			border-radius: 4px;
			padding: 4px;
			margin-bottom: 4px;
			margin-right: 4px;
			text-align: center;
			font-size: 11px;
		}

		div {

			transition: 0.6s ease background-color, 0.6s ease color;

			&.highlight {
				background-color: $shade1;
				color: $shade2;
				transition: 0.6s ease background-color;

				div {
					&.hidden {
						transition: 0.6s ease background-color, 0.6s ease color;
						color: $shade1;
					}
				}
			}

			&.hidden {
				color: $shade4;
			}

			&.highlight2 {
				color: $shade5;
			}
		}

		button {
			&:focus {
				outline: none;
			}

			transition: 0.6s ease color, 0.6s ease border-color;

			&.toggled {
				transition: none;
				border-color: $shade6;
				color: $shade6;
			}
		}

		.floor-bank {
			display: flex;
			flex-direction: column-reverse;
		}

		.floor-display {
			align-items: flex-start;
			justify-content: flex-end;

			>div {
				padding: 4px;
				margin-bottom: 4px;
				margin-right: 4px;
				min-width: 80px;
			}
		}

		.elevator-display {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap-reverse;
			max-width: 85px;
			max-height: 225px;
			justify-content: flex-end;

			button {
				min-width: 30px;
			}
		}

		.top-bar {
			justify-content: space-between;
		}

		.row {
			display: flex;
			flex-direction: row;
		}
	}
}