body {
  background-color: #2A2B2A;
  color: #DDB967; }
  body .app {
    max-width: 350px; }
    body .app.quick-animations .floor-display {
      transition: none; }
    body .app.quick-animations .floor-door-state {
      transition: none; }
    body .app .panel,
    body .app button {
      background-color: #2A2B2A;
      color: #DDB967;
      border: 1px dotted #DDB967;
      border-radius: 4px;
      padding: 4px;
      margin-bottom: 4px;
      margin-right: 4px;
      text-align: center;
      font-size: 11px; }
    body .app .floor-door-state {
      transition: 0.7s ease background-color, 0.7s ease border-color,  0.7s ease color; }
      body .app .floor-door-state.white {
        background-color: #383536;
        color: #E8E9EB;
        border-color: #E8E9EB; }
      body .app .floor-door-state.red {
        color: #ED474A;
        border-color: #ED474A; }
      body .app .floor-door-state.yellow {
        color: #DDB967;
        border-color: #DDB967; }
      body .app .floor-door-state.hidden {
        border-color: #636564;
        color: #636564; }
    body .app button {
      transition: 1.4s ease color,  1.4s ease background-color, 1.4s ease border-color; }
      body .app button:focus {
        outline: none; }
      body .app button:disabled {
        border-color: #636564;
        color: #636564; }
      body .app button.toggled {
        transition: none;
        background-color: #383536;
        color: #E8E9EB;
        border-color: #E8E9EB; }
    body .app .floor-bank {
      display: flex;
      flex-direction: column-reverse; }
    body .app .floor-display {
      align-items: flex-start;
      justify-content: flex-end;
      transition: 1.4s ease background-color, 1.4s ease border-color,  1.4s ease color; }
      body .app .floor-display.highlight {
        background-color: #383536;
        color: #E8E9EB; }
      body .app .floor-display > div {
        padding: 4px;
        margin-bottom: 4px;
        margin-right: 4px;
        min-width: 80px; }
    body .app .elevator-display {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      max-width: 85px;
      justify-content: flex-end; }
      body .app .elevator-display button {
        min-width: 30px; }
    body .app .top-bar {
      justify-content: space-between; }
    body .app .row {
      display: flex;
      flex-direction: row; }
